body {
    color: #777;
    font-family: Futura, 'Futura Std', 'Oswald', sans-serif;
}

.alert { background-color: #923130; }
.info  { background-color: #1F8DD6; }
.yay   { background-color: #319230; }

#announcement {
    color: #eeeeee;
    font-size: 120%;
    text-align: center;
    padding: 0.5em 0;
}

.mv-navbar {
    margin-bottom: 0;
}